@import '../utils/mixins';
@import '../utils/variables';

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;

  @include md {
    width: 750px;
  }

  @include lg {
    width: 970px;
  }
}

.main {
  width: 100%;
  min-height: 100%;
  color: #000;
  background-color: $light-grey;
}

.text {
  &--blue {
    color: $blue;
  }
}