.button {
  border: 1px solid $light-blue;
  color: $light-blue;
  padding: 0.2rem 0.8rem;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  font-weight: 600;

  @include radius(50px);

  @include sm {
    margin: 0;
  }

  &:hover {
    color: #fff;
    background-color: $light-blue;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.15);
  }

  &:active {
    box-shadow: none;
  }
}