.checkbox {
  display: flex;

  & input {
    display: none;
  }

  &__item {
    padding-right: 0.5rem;
  }

  &__control {
    opacity: 0;

    &:checked ~.checkmark{
      background: $light-blue;
      border: 1px solid $light-blue;
      color: #fff;

      &:after {
        display: block;
      }
    }
  }

  &__checkmark {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid $light-blue;
    position: relative;
    border-radius: 2px;
    margin-right: 12px;
    margin-top: 2px;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 4px;
      top: 1px;
      width: 4px;
      height: 7px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    } 
  }
}