.currency {
  &__list {
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.1);
  }
}

.list {
  &__row {
    display: flex;
    min-height: 3rem;
    align-items: center;
    border-bottom: $border-grey;
    background-color: #ffffff;

    &--grey{
      background-color: $grey;
      font-weight: 600;
    }
  }

  &__column {
    width: 50%;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;

    &--first{
      border-right: $border-grey;
    }

    &--second {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 0.5rem 2rem;

      @include sm {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}
