.currency {
  &__chosser{
    display: flex;
  }

  &__header {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;

    @include sm {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end
    }
  }

  &__text {
    padding-right: 0.8rem;
    color: $blue;
  }

  &__title{
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 0.8rem;

    @include sm {
      padding-bottom: 0;
    }
  }
}