// Colors
$blue: #0050ca;
$light-blue: #22a0ff;
$grey: #eaeaea;
$light-grey: #f5f5f5;
$border-grey: 1px solid $grey;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;